html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
  text-align: left;
  border-color: #f33;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 1rem;
}

img {
  width: 18rem;
}

h1 {
  font-family: lato, sans-serif;
  font-style: normal;
}

body {
  margin: 1.5em;
  padding: 1em;
  padding-top: 3rem;
  padding-bottom: 3rem;
  list-style-type: none;
  background-color: #eee9de;
}

li {
  display: inline-block;
  margin: .5em;
  width: 6em;
  padding: .35em;
  background-color: #eee9de;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
  color: #333;
  font-size: 1.25rem;
  text-align: center;
}

li:hover {
  background-color: #666;
  color: #fff;
}
