html {
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.5;
  text-align: left;
  border-color: #f33;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-size: 1rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

h2 {
  font-family: lato, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
}

body {
  margin: 0;
  list-style-type: none;
  background-color: #eee9de;
}

.btn {
  display: inline-block;
  padding: .4em;
  background-color: #eee9de;
  border-style: solid;
  border-radius: 10px;
  color: #333;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

div {
  max-width: 25em;
  display: inline-block;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}
